@font-face {
  font-family: 'Classic Console';
  src: url('clacon.ttf');
  /*src: url('http://webdraft.hu/fonts/classic-console/fonts/clacon.ttf') format('truetype');*/
}

body {
  background-color: black;
  font-family: 'Classic Console', serif, monospace;
  color: rgb(0,255,0);
}
